* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
section:first-of-type {
  background-color: rgba(0, 0, 255, 0.5);
  width: 100%;
  height: 50vh;
  position: relative;
}
section:last-of-type {
  background-color: brown;
  height: 50vh;
  width: 100%;
}
/* cloud images containing divs: */
section:first-of-type > div {
  width: 15%;
}
section:first-of-type > div:first-child {
  position: absolute;
  /* top: 20%; */
  left: 0%;
}
section:first-of-type > div:nth-child(2) {
  /* the sun */
  background-image: radial-gradient(
    circle at 63% 36%,
    rgba(255, 0, 0, 1) 10%,
    rgba(255, 255, 1) 20%,
    transparent 40%
  );
  position: absolute;
  left: 80%;
}
/* the cloud below the sun */
section:first-of-type > div:nth-child(2) > img {
  width: 100%;
}
section:first-of-type > div:last-child {
  position: absolute;
  /* top: -5%; */
  left: 25%;
}
/* the dice div */
section:nth-child(2) > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 15px;
  background-color: black;
  overflow: visible;
  cursor: pointer;
}
/* the cloud inside the dice */
section:nth-child(2) > div > div:first-child {
  width: 60%;
  position: absolute;
  top: -30%;
  right: -40%;
  opacity: 0.4;
  transition: 3000ms linear;
}
/* hover effect on the cloud */
section:nth-child(2) > div:hover > div:first-child {
  right: 80%;
}
/* inner dice slot container  */
.inner_container {
  position: relative;
  margin: 8%;
  width: calc(84%);
  height: calc(84%);
}
.inner_container > div {
  position: absolute;
  width: 25%;
  height: 25%;
  border-radius: 50%;
  background-color: white;
}
.inner_container > .top_left {
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 0, 0.8);
}
.inner_container > .top_right {
  top: 0;
  right: 0;
  background-color: rgba(255, 0, 0, 0.8);
  transition: 500ms;
}
.inner_container > .center {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.inner_container > .bottom_left {
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 255, 0.8);
  transition: 500ms;
}
.inner_container > .bottom_right {
  bottom: 0;
  right: 0;
  background-color: rgba(0, 255, 0, 0.8);
}
/* inner dice slots color change on hover */
section:nth-child(2) > div:hover > .inner_container > .top_right {
  background-color: rgba(0, 0, 255, 0.8);
}
section:nth-child(2) > div:hover > .inner_container > .bottom_left {
  background-color: rgba(255, 0, 0, 0.8);
}
@media screen and (orientation: landscape) {
  section:nth-child(2) > div {
    width: 40vh;
    height: 40vh;
  }
  section:first-of-type > div:first-child {
    top: 6vw;
  }
  /* the sun */
  section:first-of-type > div:nth-child(2) {
    top: 0;
  }
  section:first-of-type > div:last-child {
    top: -2vw;
  }
}
@media screen and (orientation: portrait) {
  section:nth-child(2) > div {
    width: 40vw;
    height: 40vw;
  }
  section:first-of-type > div:first-child {
    top: 20vh;
  }
  /* the sun */
  section:first-of-type > div:nth-child(2) {
    top: 2vh;
  }
  section:first-of-type > div:last-child {
    top: 12vh;
  }
}
